<h1>Listing Owned Items</h1>

<div>
  <%= share_items_link(@conn) %>
</div>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Type</th>
      <th>Buy price</th>
      <th>Sell price</th>
      <th>Source</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= show_owned_items(@conn, @user) %>
  </tbody>
</table>
